.header img{
    height: 80px;
}

nav{
    background-color: black;
    height: 30px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    color: white;
    float: left;
}

nav li:hover{
    color: white;
    background-color: gray;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;
}